extends layout

block content

    head
        title Ejercicios
        link(rel='stylesheet' href='/login.css')
        link(rel='stylesheet' href='/register.css')
        script(src="/register.js" defer)

    body


        section#form.d-flex.justify-content-start.align-item-start
            p ejercicios en particular