extends layout

block content

  head
    title Mi página de gimnasio
    meta(name='description' content='Página de gimnasio para entrenamiento físico y salud.')
    meta(name='keywords' content='gimnasio, entrenamiento, salud, deporte')

    link(rel='stylesheet' href='/index.css')
    link(rel='stylesheet' href='/cards.css')

    script(src="/carrousel-splide.js" defer)
    link(rel='stylesheet' href='/carrousel-splide.css')

  body

    a(href="#contenido" id="flecha")
      ion-icon(name="chevron-down-outline")
      ion-icon(name="chevron-down-outline")
      ion-icon(name="chevron-down-outline")

    div.img-principal.d-flex

      .row.align-items-start.justify-content-center.p-5.mt-5
        .col-md-8.text-light.text-start.p-0
          h1.fs-1.fs-md-5 POTENCIAMOS TU BIENESTAR
          p.fs-4.fs-md-4 Comenzá hoy a buscar tu mejor versión
          a.btn(href='#') ¡Asociate ahora!

    //seccion membresia
    section#contenido
      .row
        .col-sm-12.col-md-6.col-lg-4
          .left-column
            h3.text-white.fs-5.fs-md-5 TU MEMBRESÍA
            h1.text-warning.fs-4.fs-md-4 A OTRO NIVEL 
            p.fs-4.fs-md-4 Todo lo que necesitas para acceder a un mundo de deporte, salud y bienestar con +300 centros deportivos en todo el país
            a.btn(href='#') Asociate

        .col-sm-12.col-md-6.col-lg-8
          .right-column
            .cards
              each num in [1,2,3]
                .card
                  img(src=`/imagenes-gym/img-gym/gym${num}.jpg` alt="Descripción de la imagen")
                  p.m-0 Encontrá tu espacio más cercano para mantenerte activo y saludable.
                  a.text-warning Enlace amarillo

    //seccion mensualidad
    section.contenido2
      .row.d-flex.justify-content-between
        .col-sm-12.col-md-6.col-lg-4.mb-4
          .left-column
            h1.text-black.fs-5.fs-md-5 ELEGÍ TU PLAN
            p.text-black.fs-2.fs-md-2 Todo lo que buscás en un solo lugar. Estás a un click de distancia de asociarte a la comunidad deportiva más grande del país.
            a.btn.bg-dark.text-white.border-0(href='#') Mensual

        .col-sm-12.col-md-6.col-lg-6
          .right-column
            .plan
              .inner
                span.pricing
                  span
                    | $15.000
                    small / m
                p.title PLAN TOTAL
                p.info Este plan es para aquellos que ya tienen un equipo y dirigen un gran negocio
                ul.features
                  li
                    span.icon
                      svg(height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg")
                        path(d="M0 0h24v24H0z" fill="none")
                        path(fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414")
                    span
                      strong 20
                      |  miembros del equipo
                  li
                    span.icon
                      svg(height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg")
                        path(d="M0 0h24v24H0z" fill="none")
                        path(fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414")
                    span Plan
                      strong reuniones del equipo
                  li
                    span.icon
                      svg(height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg")
                        path(d="M0 0h24v24H0z" fill="none")
                        path(fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414")
                    span Compartir archivos
                .action
                  a.button(href="#") Asociate
              .mensual
                inner
                  .features
                    ul
                      li.check Acceso a +300 sedes
                      li.check Actividades Indoor/Outdoor
                      li.check Clases en vivo y On Demand
                      li.check App Nutrición
                      li.check Tuluka

                    a.button(href="#") Ver Sedes Total

    //seccion carrousel

    section#contenido
      .row.d-flex.justify-content-between
        .col-sm-12.col-md-7.col-lg-7
          .left-column-carrousel
            div#contain-main-slider.col-lg-12.col-md-12.col-sm-12.col-xs-12.py-5
              section#main-slider.splide(aria-label="My Awesome Gallery")
                div.splide__track
                  ul.splide__list
                    li.splide__slide
                      img(src=`/imagenes-gym/img-material/mancuerna1.jpg` alt="Descripción de la imagen")
                    li.splide__slide
                      img(src=`/imagenes-gym/img-material/mancuerna2.jpeg` alt="Descripción de la imagen")
                    li.splide__slide
                      img(src=`/imagenes-gym/img-gym/gym1.jpg` alt="Descripción de la imagen")
                    li.splide__slide
                      img(src=`/imagenes-gym/img-gym/gym2.jpg` alt="Descripción de la imagen")  


                  ul#thumbnails.thumbnails
                    li.thumbnail 
                      img(src=`/imagenes-gym/img-material/mancuerna1.jpg` alt="Descripción de la imagen")    
                    li.thumbnail 
                      img(src=`/imagenes-gym/img-material/mancuerna2.jpeg` alt="Descripción de la imagen")
                    li.thumbnail 
                      img(src=`/imagenes-gym/img-gym/gym1.jpg` alt="Descripción de la imagen")
                    li.thumbnail 
                      img(src=`/imagenes-gym/img-gym/gym1.jpg` alt="Descripción de la imagen")            

        .col-sm-12.col-md-5.col-lg-5
          .right-column
            .cards
              each num in [1,2,3]
                .card
                  img(src=`/imagenes-gym/img-gym/gym${num}.jpg` alt="Descripción de la imagen")
                  p.m-0 Encontrá tu espacio más cercano para mantenerte activo y saludable.
                  a.text-warning Enlace amarillo





