extends layout

block content

    head
        title Login
        link(rel='stylesheet' href='/login.css')

    body

        section#form.d-flex.justify-content-start.align-item-start

            //formulario logueo
            form.form.col.col-xs-12.col-sm-12.col-md-6.col-lg-6(action="/auth/login" method="post")

                p.form-title.mt-4 Logueate!

                .row.input-container.mt-4
                    .col-12
                        .form-floating
                            input.form-control#emailInput(name="mail" placeholder="Ingrese el correo electrónico" type="email")
                            label(for="emailInput") Correo electrónico

                .row.input-container
                    .col-12
                        .form-floating
                            input.form-control#passwordInput(name="contrasenia" placeholder="Ingrese la contraseña" type="password")
                            label(for="passwordInput") Contraseña

                button.submit.mt-2(type="submit") ENVIAR
                p.signup-link.mt-4
                    | ¿No tenes una cuenta?
                    a(href="/auth/view/register").mx-2 Registrate

            //imagen 
            div.img-login.col-xs-12.col-sm-12.col-md-6.col-lg-6