extends layout

block content

    head
        title Rutinas

        link(rel='stylesheet' href='/rutinas.css')

        script(src="/carrousel-splide.js" defer)
        link(rel='stylesheet' href='/carrousel-splide.css')

    body

        section.col.col-lg-12.col-md-12