:root {
    --color-amarillo-global: #ffc107;
    --color-grey-card:rgba(31, 31, 31, .87);
}


body {
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}

/* * {
    border: .1px solid white;
} */

.img-principal {
    background-image: url('../imagenes-gym/img-deportistas/mujer2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 60px;
    width: 100vw;
    height: 100vh;
    line-height: 55px;
}

p {
    font-family: Gotham, sans-serif;
    font-weight: 500;
    text-align: left;
    margin-bottom: 40px;
    line-height: 30px;
    color: #707070;
}

h1 {
    font-family: Gotham, sans-serif;
    font-size: min(5vw, 5vw);
    font-weight: 900;
    line-height: 60px;
}


/* section contenido */
#contenido {
    background-color: #1f1f1f;
    padding: 50px;
}


#contenido .left-column, .contenido2 .left-column {
    position: sticky;
    left: 50px;
    top: 25%;
    padding: 20px;
}


#contenido .left-column-carrousel{
    position: sticky;
    left: 50px;
    top: 5%;
    padding: 20px;
}

#contenido .card {
    background-color: #1f1f1f00;
    border: none;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    opacity: 0;
    animation-name: appear;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

#contenido .card img {
    object-fit: cover;
    max-width: 100%;
    height: 400px;

    margin-bottom: 10px;
}

#contenido .card a {
    color: yellow;
    text-align: center;
}

#contenido .card p {
    text-align: center;
}


#contenido .card:nth-child(1) {
    animation-delay: 0s;
}

#contenido .card:nth-child(2) {
    animation-delay: 0.5s;
}

#contenido .card:nth-child(3) {
    animation-delay: 1s;
}

#contenido .card:nth-child(4) {
    animation-delay: 1.5s;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}



/* contenido 2 */
.contenido2 {
    background-color: #707070;
    height: auto;
    width: 100vw;
    padding:10%;
}





/* flecha */
#flecha {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 15px;
    border-radius: 50%;
    z-index: 100;
}

#flecha ion-icon {
    font-size: 20px;
    display: block;
    margin: auto;
    animation: carga 2s infinite;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}

#flecha ion-icon:nth-child(1) {
    animation-delay: 0s;
}

#flecha ion-icon:nth-child(2) {
    animation-delay: 0.5s;
}

#flecha ion-icon:nth-child(3) {
    animation-delay: 1s;
}

@keyframes carga {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(5px);
    }
}




/* boton principal */
.btn {
    color: #1f1f1f;
    text-align: center;
    background-color: var(--color-amarillo-global);
    border: 2px solid #ffd300;
    border-radius: 50px;
    margin-left: 0;
    margin-right: 0;
    font-family: Gotham, sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    transition: .3s;
}

.btn:hover {
    background-color: #ffe666;
    color: black;
}