:root {
    --color-amarillo-global: #ffc107;
    --color-grey-card: rgba(31, 31, 31, .87);
    --color-grayDark-background: #aaa7a7;
  }

body{
    background-color: var(--color-grey-card);
}

section{
    margin-top: 65px;
    height: 80vh;
    background-color: #aaa7a7;
}