html {
    scroll-behavior: smooth;
  }

  .nav-link.active {
    background-color: #ffd300;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
  }

  .nav-link.active {
    background-color: #ffd300;
    border-radius: 5px;
  }



/* scroll bar */
  ::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #ffbb00;
    border-radius: 10px;
    border: 3px solid #f9dd9d;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f9dd9d;
  }
  